section
	h1 Recent Work Overview

section
	h3 Green Valley High School
	img(src="assets/gvhs.jpg", alt="Green Valley High School comp" )
	ul.fragment.fade-up
		li Information architecture overhaul
		li clean visual presentation
		li responsive / mobile first approach
		li Wordpress development

section 
	h3 the 4 of us
	img(src="assets/4ofu.png", alt="the four of us home page", style="width: 70%; height: auto")
	ul.fragment.fade-up
		li Quirky visual presentation
		li responsive / mobile first design
		li Static front-end 

section
	h3 Yoga West
	img(src="assets/yw.png", alt="Yoga West home page" )
	ul.fragment.fade-up
		li Information architecture
		li Calming / Focused visual presentation
		li Wordpress theme development

section 
	h3 Bistro Byrons
	img(src="assets/bb.png", alt="Bistro Byrons home page", style="width: 75%; height: auto")
	ul.fragment.fade-up
		li Information architecture
		li Rustic visual presentation
		li Wordpress theme development

